doctype html
html

  head
    title :: 36 ::
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //- using purecss instead bootstrap!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.1/pure-min.css')
    link(rel='stylesheet', href='static/css/style.css')

    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script.
        window.html5 || document.write('<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><\\/script>')

  body
    //- 
      http://purecss.io/layouts/
      hey, there are some prebuilt layouts!!
    

    header
      .content

    #content

      #maps.pure-g-r

        #paris.pure-u-1-3.tc.single-place
          #paris-map.map
          .padding.tl
            h1
              | Paris
            h4
              | 30.04 - 03.05
            .places
              span Montmartre
              span Op&eacute;ra
              span Champs-&Egrave;lys&eacute;es
              span Louvre
              span Tour Eiffel
              span Place de la Bastille
              span Montparnasse
              span La Fayette
              span Quartiere Latino
              span P&eacute;re Lachaise
              span Manga Caf&egrave;

          .padding.tc
            img(src='static/img/three_01.png')

        #venezia.pure-u-1-3.tc.single-place
          #venezia-map.map
          .padding.tl
            h1
              | Venezia
            h4
              | 20.06 - 22.06
            .places
              span Impronta Caf&egrave;
              span Ruga Rialto
              span Cantina Do Mori
              span Ai Storti
              span Barcollo
              span Ai Do Draghi
              span Ristorante cinese
              span Margaret Duchamp
              span Al Merc&agrave;
              span Cantina Do Spade
              span Bancogiro
              span Al Bottegon
              span Bar Rosso
          .padding.tc
            img(src='static/img/three_03.png')

        #rovinj.pure-u-1-3.tc.single-place
          #rovinj-map.map
          .padding.tl
            h1
              | Rovinj
            h4
              | 08.08 - 17.08
            .places
              span Sole :D
              span Mare :D
              span Cene :D
              span Vacanze :D
              span Relax :D

          .padding.tc
            img(src='static/img/three_02.png')

    footer
      .content
        .padding.tc
          | &copy; 2014, selfishl0v3

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ_pTqd3M4wowb0OoBuJ4KTUS70pmJtm0&sensor=false&language=it&v=3')
    script(type='text/javascript', src='static/js/main.js')
