doctype html
html

  head
    title :: 36 ::
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //- using purecss instead bootstrap!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.1/pure-min.css')
    link(rel='stylesheet', href='static/css/style.css')

    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script.
        window.html5 || document.write('<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><\\/script>')

  body
    //- 
      http://purecss.io/layouts/
      hey, there are some prebuilt layouts!!
    

    header
      .content

    #content

      #maps.pure-g-r

        .pure-u-1-3.tc
          #paris-map.single-map
          .padding.tl
            :markdown
              Iele femto cia gh. Kies log'o numeralo fo per, lia ekde malpli priskriba kv, ha mini denta ofteco lia. Edzo unua tiama nu hot, elen danke bv pra. Timi dupunkto ni tek. Io esk nulo laŭ sekve, esti rilate mil ab.

        .pure-u-1-3.tc
          #venezia-map.single-map
          .padding.tl
            :markdown
              Ig participo frakcistreko por, al sis kver gibi mekao. Dua fari estr zo, jeno senobjekta hoj ia. Oho ig ligvokalo frikativo predikativo, volus pasko antaŭpriskribo po anc. Fojo elrigardi cis vo.

        .pure-u-1-3.tc
          #rovinj-map.single-map
          .padding.tl
            :markdown
              Pebi vasta festonomo plue ie, kapabl interogativo antaŭelemento jo iam, aj vic' suomio pro. Nomial prezoinda ali ec, meze alial rilata ke sep. Duono centilitro in kio, nea la deziri bedaŭrinde. At sob alta esceptinte interogativo, respondeci anstataŭe instruitulo un' us, egalo numeralo he nun. Tio halo' iliard s'joro i. Vol mikrometro komplemento montrovorto al, faras substantiva si sen, vi ian trae stop.

    footer

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ_pTqd3M4wowb0OoBuJ4KTUS70pmJtm0&sensor=false&language=it&v=3')
    script(type='text/javascript', src='static/js/main.js')
