//  nib folder is located in static/css/
@import('nib');


//  load opensans from google fonts (maybe the overused font in the world)
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');


/*

  // custom webfonts (put them in a folder called 'font' in public)
  // be sure to got .eot, .woff, .ttf and .svg font file
  // use fontsquirrel or another online webfont generator

imported-fonts(_family, _directory, _filename, _weight, _style)
  font-family _family
  src url(_directory+_filename+'.eot')
  src url(_directory+_filename+'.eot?#iefix') format('embedded-opentype'), url(_directory+_filename+'.woff') format('woff'), url(_directory+_filename+'.ttf') format('truetype'), url(_directory+_filename+'.svg#'+_family) format('svg')
  font-weight _weight
  font-style _style


  // example use

@font-face {
  imported-fonts('SourceSansPro','../font/','SourceSansPro-Regular-webfont',200,normal)
}

*/



//  - colors
_black = #000
_notSoBlack = #333
_white = #fff
_vomitGreen = #91AA9D
//  - widths, heights or anything you want here
_containerWidth = 960px


//  some useful classes
.tl
  text-align left

.tc
  text-align center

.tr
  text-align right


//  font classes
.os
  font-family 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif
.w-300
  font-weight 300
.w-400
  font-weight 400
.w-600
  font-weight 600


//  setting right fonts in purecss grid
.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .os


//  hiding infos from gmaps
.gmnoprint,
.gm-style-cc
  display none!important


// main style
html,
body
  height 100%

body
  @extends .os
  font-weight 300
  color _notSoBlack
  background _white

  header
    min-height 531px
    height 90%
    background url('../img/one.png') center no-repeat
    width 100%

  header,
  #content,
  footer
    & > .content
      width _containerWidth
      margin 0 auto

  #maps
    .map
      width 100%
      height 400px
      margin 0 auto
    .padding
      padding 10px
      @extends .w-300
    .single-place
      .places
        span
          display inline
          font-size 24px
          text-transform uppercase
          margin-right 10px
          font-weight 400
      h1,
      h4
        margin 0
        text-transform uppercase
        font-weight 300
        text-align center
      h1
        color lighten(_notSoBlack, 50%)
        font-size 48px
        margin-bottom 0
      h4
        font-size 32px
        margin-bottom 30px
        border-bottom 3px solid lighten(_notSoBlack, 80%)
        padding-bottom 5px
      &#paris
        .places
          span
            for i in (0..4)
              &.place-{i}
                color darken(#C02942, ((i * 10)%))
      &#venezia
        .places
          span
            for i in (0..4)
              &.place-{i}
                color darken(#68B3AF, ((i * 10)%))
      &#rovinj
        .places
          span
            for i in (0..4)
              &.place-{i}
                color darken(#C06C84, ((i * 10)%))
              
  footer
    background _vomitGreen
    border-top 3px solid darken(_vomitGreen, 20%)
    .content
      .padding
        padding-top 20px
        padding-bottom 20px
        font-size 14px
        font-weight 400
        color _white
        text-shadow 0 0 2px rgba(_black, 0.8)


//  - media queries -
@media screen and (max-width: 959px)
  //  - css here

@media screen and (max-width: 767px)
  //  - css here
  _containerWidth = 100%

  body

    header,
    #content,
    footer
      & > .content
        width _containerWidth

    #maps
      .map
        height 280px