!!! 5
html(lang='it')
  head
    meta(charset='utf-8')
    title 30!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/icons/30-72.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/icons/30-114.png')
    link(rel='apple-touch-icon-precomposed', href='img/icons/30-57.png')
    link(rel='apple-touch-startup-image', href='img/icons/splash.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)')
    link(href='img/icons/splash-retina.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='img/icons/splash-iphone5.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
    link(href='css/pure-min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(rel='shortcut icon', href='favicon.ico')
    //if lt IE 9
      script(src='js/vendor/html5shiv.js')
         
  body
    #warning
      p
        | Please add me to your homescreen!
        br
        img(src='img/icons/30.png')
    #container
      header.pure-g-r
        .pure-u-1.pure-menu.pure-menu-horizontal
          span.pure-menu-heading
            | selfishlove.net/30
          span.pure-menu-heading.name
            | 30!
      #song.pure-g-r
        .pure-u-1-2.song-player
          audio(src='media/audio/恋に落ちること.mp3', type='audio/mp3', preload='auto')
        .pure-u-1-2.song-data
          div
            h1 
              | Dj Kaya  
              span.serif
                | 恋に落ちること
      #photos.pure-g
        photos = 16;
        - for (var i=1; i<=photos; i++)
          .pure-u-1-8.single-photo
            img(src='img/loading.gif', data-original='img/photos/#{i}.jpg')
      #lyrics.pure-g-r
        .pure-u-1-5.title
          h2
            span.serif 倖田來未
            | COLOR OF SOUL
        .pure-u-1-5.lyric
          h4
            span.serif 明日にならなくちゃ
            br
            span WHAT IS LOVE?
            br
            span.serif わからない気持ちがあるはず
            br
            span.serif そう二人なら
        .pure-u-1-5.video
          .videocontainer
            iframe(width='420', height='315', src='http://www.youtube.com/embed/k4jk71KBlo0?rel=0', frameborder='0', allowfullscreen)
        .pure-u-1-5.title
          h2 
            | The Cure
            br
            | Charlotte Sometimes
        .pure-u-1-5.video.lyric
          .videocontainer
            iframe(width='420', height='315', src='http://www.youtube.com/embed/4KeII31qyck?rel=0', frameborder='0', allowfullscreen)
      #others.pure-g-r
        .pure-u-2-3.abc
          p
            span.bigger
              i Ciao tesorino,
            br
            | &egrave; passato un altro anno, ormai siamo a quota due e mezzo! Ne sono successe tante in questi sei mesi, ma siamo riusciti a non litigare mai, a parte qualche piccola scaramuccia! Per fortuna eh! :P
            br
            | Spero continui cos&igrave; tra noi, per stare sempre sempre assieme! Anche se siamo sempre stanchi la sera e ci addormentiamo come due perette (tu di pi&ugrave; per&ograve;!) non mi stanco mai di te! L'importante per me &egrave; continuare a starti sempre vicino visto che sei la mia principessina! Stiamo risolvendo tutti i problemi che ci sono e che ci saranno (ewwiwa i genitori!) quindi non ti devi preoccupare sempre! Va tutto a gonfie vele, ok? :)
            br
            | P.s.: ti ho dedicato anche due canzoniiiii :) ghgh.
            br 
        .pure-u-1-3.def
          p
            | Ricordati che 
            span.bigger 
              b ti Amo 
            | davvero tanto!
            br
            | Ogni giorno sempre di pi&ugrave;!
          p.sign
            span.serif ｱﾚｯｼｵ &hearts;
            br
            | 26.08.2013

    script(type='text/javascript', src='js/vendor/jquery.min.js')
    script(type='text/javascript', src='js/vendor/jquery.debouncedresize.js')
    script(type='text/javascript', src='js/vendor/underscore-min.js')
    link(href='js/media-element/mediaelementplayer.min.css', rel='stylesheet')
    script(type='text/javascript', src='js/media-element/mediaelement-and-player.min.js')
    script(type='text/javascript', src='js/vendor/jquery.lazyload.min.js')
    script(type='text/javascript', src='js/main.js')
