@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

html,
body
  font-family 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif
  font-weight 300
  min-height 100%
  height 100%
  background #ecf0f1

b,
strong,
h1,
h2,
h3,
h4
  font-weight 300

.serif
  font-family 'Times', 'Times New Roman', serif!important

#warning
  position absolute
  width 90%
  top 20px
  left 5%
  text-align center
  img
    width 100px
    height auto

#container
  opacity 0
  transition opacity 1s ease
  &.show
    opacity 1

header
  clearfix()
  background #fff
  span.name
    float right

#song
  background #1ABC9C
  .song-player
    .mejs-container
      margin 45px auto 0 auto
      .mejs-controls
        background #1ABC9C!important
      .mejs-time-loaded
        background #16A085!important
      .mejs-time-current
        background #fafafa!important
  .song-data
    color #fff
    background #16A085
    div
      padding 10px

#photos
  background #2C3E50
  .single-photo
    background #2C3E50
    text-align center
    margin 0
    padding 0
    overflow hidden
    line-height 75%
    img
      max-width 100%
      height auto
      background #fff

#lyrics
  background #1abc9c
  color #fff
  & > div:nth-child(even)
    background #1abc9c
  & > div:nth-child(odd)
    background #16a085
  h2,
  h4
    padding 10px
    span
      display block
  .lyric
    line-height 90%
  .video
    .videocontainer
      position relative
      padding-bottom 56.25%
      padding-top 30px 
      height 0 
      overflow hidden
      iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%
#others
  background #34495e
  color #fff
  .abc
    background #34495e
  .def
    background #2c3e50
  p
    padding 10px
    span.bigger
      font-size 20px
    &.sign
      text-align right

#song > div,
#photos > div,
#lyrics > div,
#others > div
  transition height 0.5s ease

#container > div:after
  clearfix()

@media (max-width: 767px)
  #song
    .song-player
      .mejs-container
        margin 20px auto
    .song-data
      text-align center
      span
        display block
  #lyrics
    .title,
    .lyric
      text-align center
    h2
      font-size 2em
      line-height 100%
    h4
      font-size 1.5em
      line-height 100%
    span.serif
      font-size 0.9em